[req]
prompt = no
distinguished_name = dn
#req_extensions = req_ext
x509_extensions = req_ext

[dn]
CN = server-one

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = server-one
DNS.2 = localhost
DNS.3 = server-two
IP.1 = 127.0.0.1
IP.2 = ::1
