.DS_Store
Thumbs.db

ct-verify/data/*.json

# Draw.IO backup files
docs/*.bkp

# CTFE config
docker/ctfe_config

# SSL files
ssl/**/*.key
ssl/**/*.srl
ssl/**/*.csr
ssl/**/*.pem
ssl/**/*.sig
ssl/**/*.txt
ssl/**/*.json
ssl/**/*.der

sct-encoding/data/*.bin
sct-encoding/data/*.txt
sct-encoding/data/*.json

postdata.json
