.DS_Store
Thumbs.db

# Draw.IO backup files
docs/*.bkp

# CTFE config
docker/ctfe_config

# SSL files
ssl/**/*.key
ssl/**/*.srl
ssl/**/*.csr
# ss/**/*.crt
# ss/**/*.cert
ssl/**/*.pem
ssl/**/*.sig
ssl/**/*.txt
