[req]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[dn]
#C = AU
#ST = Your State
#L = Your City
#O = Your Organization
#OU = Your Organizational Unit
CN = MyCertificateAuthority

[req_ext]
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
subjectKeyIdentifier = hash
